@import 'tailwindcss';

@theme {
  /* COLORS */
  --color-my-neutral-900: hsl(0, 0%, 7%);
  --color-my-neutral-800: hsl(0, 0%, 15%);
  --color-my-neutral-500: hsl(240, 3%, 46%);
  --color-my-neutral-400: hsl(240, 1%, 59%);
  --color-my-neutral-0: hsl(0, 0%, 100%);

  --color-my-blue-600: hsl(214, 100%, 55%);
  --color-my-blue-400: hsl(210, 100%, 65%);

  --color-my-red-500: hsl(354, 63%, 57%);

  --color-my-green-500: hsl(140, 63%, 57%);

  --color-my-yellow-400: hsl(49, 85%, 70%);

  /* BREAKPOINTS */
  --breakpoint-md: 800px;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

button {
  font-family: inherit;
}

img {
  width: 100%;
}
